<mat-toolbar class="ToolBar">
    <div class="header">
        <div class="menu">
            <div>
                <span class="title">Quanment</span>
            </div>
        </div>
        <div class="endIcons">
            <button mat-flat-button class="historyButton">History</button>
        </div>
    </div>
</mat-toolbar>
<div class="appTitle">
    <span class="welcomeQuote">Welcome To Quantity Measurement</span>
</div>
<div class="container">
    <div class="MeasurementTypes">
        <span class="choose">CHOOSE TYPE</span>
        <div>
            <app-measurements></app-measurements>
        </div>
    </div>
</div>