.ToolBar{
    background-color: white;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.title{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000;
}
.historyButton{
    background-color: white;
    border: unset;
    outline: unset;
    font-size: 15px;
    font-weight: bold;
}
.appTitle{
    padding: 18px 0;
    background-color: #446DFF;
    text-align: center;
    opacity: 1;
    .welcomeQuote
    {
        font-size: 30px;
        color:#fff;
        opacity: 1;
    }
}