<div class="content">
    <div class="imageBox">
        <div class="box"  *ngFor="let type of types" (click)="selectType(type);typename=type" [style.background-color]="type.active? type.background : 'white'" [style.border]="type.active?type.bordercolor: 'white'">
            <img src="{{type.active?selectedImage:type.image}}" id={{type.label}} class="measurementImage"><br>
            <span class="labels" [style.color]="type.active? type.color: '#E4E4E4'">{{type.label}}</span>
        </div>
    </div>
    <div class="calculation">
        <div class="leftBox">
            <span style="color: #6D6E70;font-weight: 500;">FROM</span>
            <div class="FromBox">
                <input type="text" class="inputfield">
                <mat-divider></mat-divider>
                <mat-form-field appearance="fill" class="selectField">
                    <mat-select [(value)]="selected">
                        <mat-option *ngFor="let len of array" value="len.value">{{len.value}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="rightBox" style="margin-left:20px ;">
            <span style="color: #6D6E70;font-weight: 500;">TO</span>
            <div class="FromBox">
                <input type="text" class="inputfield">
                <mat-divider></mat-divider>
                <mat-form-field appearance="fill" class="selectField">
                    <mat-select [(value)]="toOption">
                        <mat-option *ngFor="let len of array" value="len.value">{{len.value}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>