<div class="content">
    <div class="imageBox">
        <div class="box" *ngFor="let type of types">
            <img src="{{type.image}}" class="measurementImage"><br>
            <span class="labels">{{type.label}}</span>
        </div>
    </div>
    <div class="calculation">
        <div class="leftBox">
            <span style="color: #6D6E70;font-weight: 500;">FROM</span>
            <div class="FromBox">
                <input type="text" class="inputfield">
                <mat-divider></mat-divider>
                <mat-form-field appearance="fill" class="selectField">
                    <mat-select [(value)]="selected">
                        <mat-option value="Meters">Meters</mat-option>
                        <mat-option value="Kilometers">Kilometers</mat-option>
                        <mat-option value="Centimeters">Centimeters</mat-option>
                        <mat-option value="Milimeter">Milimeter</mat-option>
                        <mat-option value="Micrometer">Micrometer</mat-option>
                        <mat-option value="Foot">Foot</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="rightBox" style="margin-left:20px ;">
            <span style="color: #6D6E70;font-weight: 500;">TO</span>
            <div class="FromBox">
                <input type="text" class="inputfield">
                <mat-divider></mat-divider>
                <mat-form-field appearance="fill" class="selectField">
                    <mat-select [(value)]="toOption">
                        <mat-option value="Meters">Meters</mat-option>
                        <mat-option value="Kilometers">Kilometers</mat-option>
                        <mat-option value="Centimeters">Centimeters</mat-option>
                        <mat-option value="Milimeter">Milimeter</mat-option>
                        <mat-option value="Micrometer">Micrometer</mat-option>
                        <mat-option value="Foot">Foot</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>